HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
mtd-backend.pem
desktop.ini
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.env
terraform/.terraform
terraform/terraform.tfstate
terraform
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.tfvars
*.pem

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
